body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

#wrap {
    width: 95%;
    margin: 0 auto;
}

#calendar {
    width: 75%;
    float: right;
}

.left-panel {
    /*float: left;*/
    width: 20%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: center;
}

.left-panel-actions {
    margin-top: 20px;
}

.left-panel h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.left-panel .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

.left-panel .choose-filter {
    height: 32px;
    line-height: 1.3;
    font-size: 1.6em;
}

.left-panel p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

.left-panel p input {
    margin: 0;
    vertical-align: middle;
}

#departments_chosen {
    margin-bottom: 20px;
}

#products_chosen {
    margin-bottom: 20px;
}

#users_chosen {
    margin-bottom: 20px;
}

